{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Edit user" %}{% endblock %}

{% block content %}
    <section class="my-6">
        <h1 class="mb-6 ml-4 text-3xl font-bold">
            {% translate "Edit user" %}
        </h1>

        <form method="post" class="ml-4 w-1/2 space-y-4">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="mb-1 block">
                        {{ field.label }}:
                    </label>

                    {% if field.help_text %}
                        <div class="mb-1 text-sm text-slate-500">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}

                    {{ field }}

                    {% for error in field.errors %}
                        <p role="alert" class="mt-1 text-sm text-red-700">
                            {{ error }}
                        </p>
                    {% endfor %}
                </div>
            {% endfor %}

            <button
                type="submit"
                class="rounded bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"
            >
                {% translate "Edit" %}
            </button>
        </form>
    </section>
{% endblock %}
