{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Task manager" %}{% endblock %}

{% block content %}
  <section class="mt-6 rounded border border-gray-200 bg-gray-50 p-10">
    <h1 class="text-4xl font-normal leading-tight">
      {% translate "Hello from Hexlet!" %}
    </h1>

    <p class="mt-2 text-xl leading-7 text-slate-600">
      {% translate "Practical programming courses" %}
    </p>

    <div class="mt-5 border-t border-gray-300 pt-6">
      <a
        href="https://ru.hexlet.io/"
        class="inline-flex items-center rounded bg-blue-600
               px-5 py-3 text-lg text-white transition-colors
               hover:bg-blue-700 active:bg-blue-800"
      >
        {% translate "Learn more" %}
      </a>
    </div>
  </section>
{% endblock %}
